@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #56b8ff;
  --primary-100: #fa7275;
  --secondary: #c9fd74;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-secondary: var(--secondary);

  --font-sora: var(--font-sora);
}

body {
  font-family: var(--font-montserrat);
}

@layer base {
  body {
    @apply bg-foreground overflow-hidden leading-relaxed text-white;
  }
}

@layer utilities {
  h1 {
    @apply mb-8 text-[35px] leading-tight font-semibold md:text-[60px] md:leading-[1.3];
  }
  h2 {
    @apply mb-4 text-[35px] leading-tight font-semibold md:text-[54px] md:leading-[1.3];
  }
  p {
    @apply leading-[1.8] font-light text-white/60;
  }
}

/* NAVBAR */
@layer components {
  .slider-text {
    @apply bg-primary h-full w-full;
  }

  .slider-text .icon {
    margin: 0px;
    font-weight: 600;
  }

  .slider-text:nth-of-type(2) {
    @apply bg-black;
  }

  .slider-text:nth-of-type(2) .icon {
    @apply text-primary;
  }

  .slider-text:hover .perspective-icon {
    transform: rotateX(90deg);
  }

  .slider-text:hover .perspective-icon .icon:nth-of-type(1) {
    transform: translateY(-100%);
    opacity: 0;
  }

  .slider-text:hover .perspective-icon .icon:nth-of-type(2) {
    opacity: 1;
  }

  .perspective-icon {
    @apply flex h-full w-full flex-col items-center justify-center;

    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .perspective-icon .icon {
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    pointer-events: none;
    text-transform: uppercase;
  }

  .perspective-icon .icon:nth-of-type(2) {
    position: absolute;
    transform-origin: bottom center;
    transform: rotateX(-90deg) translateY(12px);
    opacity: 0;
    transition: all 0.5s;
  }
}
