@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sora: var(--font-sora);
}

body {
  font-family: var(--font-montserrat);
}

@layer base {
  body {
    @apply bg-foreground overflow-hidden leading-relaxed text-white;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .page {
    @apply h-screen w-full overflow-hidden;
  }
}

@layer components {
}

@layer utilities {
  h1 {
    @apply mb-8 text-[35px] leading-tight font-semibold md:text-[60px] md:leading-[1.3];
  }
  h2 {
    @apply mb-4 text-[35px] leading-tight font-semibold md:text-[54px] md:leading-[1.3];
  }
  p {
    @apply leading-[1.8] font-light text-white/60;
  }
}
