@import 'tailwindcss';
@config '../tailwind.config.js';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'font-pp-telegraf';
  src: url('/fonts/PPTelegraf-Regular.otf');
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-spaceMono: var(--font-spaceMono);
  --font-sora: var(--font-sora);
}

body {
  font-family: var(--font-montserrat);
}

.font-pp-telegraf {
  font-family: 'font-pp-telegraf'; /* Use custom font with fallback */
}

@layer base {
  body {
    @apply bg-foreground overflow-hidden leading-relaxed text-white;
  }
}

/* NAVBAR */
@layer components {
  /* NAVBAR PANEL */
  .btn-toggle-text {
    @apply bg-primary h-full w-full;

    .icon {
      @apply m-0 font-semibold;
    }

    &:nth-of-type(2) {
      @apply bg-black;

      .icon {
        @apply text-primary;
      }
    }

    &:hover {
      .perspective-icon {
        transform: rotateX(90deg);

        .icon {
          &:nth-of-type(1) {
            transform: translateY(-100%);
            opacity: 0;
          }

          &:nth-of-type(2) {
            opacity: 1;
          }
        }
      }
    }
  }

  .perspective-icon {
    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);

    .icon {
      transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
      pointer-events: none;
      text-transform: uppercase;

      &:nth-of-type(2) {
        position: absolute;
        transform-origin: bottom center;
        transform: rotateX(-90deg) translateY(12px);
        opacity: 0;
      }
    }
  }

  /* NAVBAR MENU LINK */
  .nav-link-container {
    .slider-content {
      animation: slider 6s linear infinite;
      transition: opacity 0.3s;

      &:nth-of-type(2) {
        transition-delay: -4s;
      }

      &:nth-of-type(3) {
        transition-delay: -6s;
      }
    }
  }

  @keyframes slider {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

@layer components {
  .curve {
    svg {
      position: fixed;
      height: calc(100vh + 600px);
      width: 100vw;
      pointer-events: none;
      left: 0;
      top: 0;
    }
  }
}

canvas {
  position: absolute;
  z-index: 50;
  pointer-events: none;
}
